fastapi
uvicorn
python-multipart
pydantic
pillow
pytesseract
opencv-python
langchain
openai
python-dotenv
google-generativeai
PyPDF2
requests
beautifulsoup4
groq==1.0.0
motor>=3.7.0
PyJWT==2.8.0
bcrypt==4.1.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
